# Porta do servidor
SERVER_PORT=4242

# URL de ligação à base de dados PostgreSQL
# Formato: postgresql://UTILIZADOR:PASSWORD@HOST:PORTA/NOME_DA_BASE_DE_DADOS?schema=public
DATABASE_URL="postgresql://johndoe:password@localhost:5432/lab3db?schema=public"
